<!DOCTYPE html>
<html>
  <head>
    <title>Ben's Chicago Crime Data Portal</title>
    <%= csrf_meta_tags %>
     <script async defer src="https://maps.googleapis.com/maps/api/js?key=#{ENV['google_map_key']}&callback=initMap"
  type="text/javascript"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<center><p id='errors'><%= flash[:error] %></p></center>
	<div id="page-wrapper">
		<%= yield %>
	</div>

  </body>
</html>
